<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409733437252-she7qpdiv0puq5a9fumrts0l67psp8rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409733437252-she7qpdiv0puq5a9fumrts0l67psp8rc</string>
	<key>API_KEY</key>
	<string>AIzaSyC4qppMGrk5XfgKRKHYN6pGbYtopi5inuE</string>
	<key>GCM_SENDER_ID</key>
	<string>409733437252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.programmer98.magicTask</string>
	<key>PROJECT_ID</key>
	<string>magic-task-ae057</string>
	<key>STORAGE_BUCKET</key>
	<string>magic-task-ae057.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409733437252:ios:e14dc89edc148108af2911</string>
</dict>
</plist>